{% extends 'base.html' %}
{% load static %}
{% block content %}
		<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
			<div class="container-fluid">
	<!---728x90--->

				<div class="inner-sec-shop px-lg-4 px-3">
					<div class="about-content py-lg-5 py-3">
						<div class="row">
							<div class="col-lg-12 about-info">
								<h3 class="tittle-w3layouts text-left mb-lg-5 mb-3">Contact Us</h3>
								<p class="my-xl-4 my-lg-3 my-md-4 my-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
									dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
									book.
								</p>

								<a href="shop.html" class="btn btn-sm animated-button gibson-three mt-4">Shop Now</a>

							</div>
						</div>
					</div>

				</div>
			</div>
			<!---728x90--->
		</section>


{% endblock %}